<!-- banner -->
<section data-aos="fade-up" class="banner-index section-wrapper d-md-block d-none d-md-block">
	<!-- banner content -->
	<div id="banner-content">
		<!-- text banner -->
		<div>
			<h1 class="message line-1 mt-0">
				Quer conhecer fatos curiosos
				<br>
				sobre o mundo animal?
			</h1>
		</div> <!-- end text banner -->
		<!-- button -->
		<a class="whatsapp-icon">
			<div id="btn-banner">
				<span class="">
					[Entrar na comunidade]
				</span>
			</div>
		</a> <!-- end button -->
	</div> <!-- end banner content -->
</section> <!-- end banner -->