<!-- be moderator -->
<section class="be-moderator px-2">
  <div class="d-flex section-wrapper">
    <div>
      <img src="{{ 'assets/images/be-moderator.png' | relative_url }}">
    </div>
    <div class="w-100 d-flex flex-column py-5 py-md-0">
      <div class="w-md-75 d-flex flex-column pt-md-4 pb-md-2 px-md-3 ml-md-5">
        <h1 class="my-md-0 pt-md-5 text-end text-md-center">
          Quer ser moderador
          <br> 
          do vcsabia.online?
        </h1>
      </div>
      <div class="w-md-75 d-flex justify-content-end justify-content-md-center">
        <a href="#" class="text-center">
          <span>
            Clique Aqui
          </span>
        </a>
      </div>
    </div>
  </div>
</section>