<!-- blog -->
<section id="habilite-gzip-blog" data-aos="fade-up" class="blog">
	<div class="section-wrapper">
<!-- posts and banners -->
		<h3 class="text-left pt-md-0 pt-2 pb-3 px-3 px-md-0">
			Ultimas enviadas
		</h3>
		<div class="container-fluid px-md-0">
			<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
			</div>
			<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
			</div>
			<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-0 line-blog">
					<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
						<div class="d-flex flex-column pl-md-3 py-1">
							<span>
								24/03/2022 - 21:30H
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center my-3">
			<a href="">
				<img src="{{ 'assets/images/banner-get.jpg' | relative_url }}">
			</a>
		</div>
	</div>
</section>
<section data-aos="fade-up" class="blog">
	<div class="section-wrapper">
		<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
		</div>
		<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
		</div>
		<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
		</div>
		<div class="d-flex justify-content-center my-3">
			<a href="">
				<img src="{{ 'assets/images/banner-get.jpg' | relative_url }}">
			</a>
		</div>
	</div>
</section>
<section data-aos="fade-up" class="blog">
	<div class="section-wrapper">
		<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
		</div>
		<div class="d-flex justify-content-center my-3">
			<a>
				<img src="{{ 'assets/images/banner-get.jpg' | relative_url }}">
			</a>
		</div>
	</div>
</section>
<section data-aos="fade-up" class="blog">
	<div class="section-wrapper">
		<div class="row px-3 px-md-0 ml-md-1 d-flex justify-content-center">
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
				<a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
					<div class="d-flex flex-column pl-md-3 py-1">
						<span>
							24/03/2022 - 21:30H
						</span>
						<h4>
							Escondidinho de carne seca
						</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</a>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<a href="">
				<img src="{{ 'assets/images/banner-get.jpg' | relative_url }}">
			</a>
		</div>
	</div> <!-- end posts and banners -->
</section>
<!-- share blog -->
<section class="d-md-none d-flex justify-content-center share-blog my-3 py-3 px-3">
  <!-- text share -->
  <h1 class="ml-3">Compartilhe</h1> <!-- text share -->
  <!-- icons -->
  <div class="d-flex px-2">
    <a class="px-1">
      <img src="{{ 'assets/images/whats-share.png'  | relative_url }}">
    </a>
    <a class="px-1">
      <img src="{{ 'assets/images/telegram-share.png'  | relative_url }}">
    </a>
    <a class="px-1">
      <img src="{{ 'assets/images/facebook-share.png'  | relative_url }}">
    </a>
    <a class="px-1">
      <img src="{{ 'assets/images/twitter-share.png'  | relative_url }}">
    </a>
    <a class="px-1">
      <img src="{{ 'assets/images/linkedin-share.png'  | relative_url }}">
    </a>
  </div> <!-- end icons -->
</section> <!-- end share -->
</section>
<section data-aos="fade-up" class="blog">
	<div class="d-flex justify-content-center my-4">
		<a id="more">
			<div class="d-flex justify-content-center btn-blog">
				<span>
					Ver mais
				</span>
			</div>
		</a>
	</div>
	<div class="d-none justify-content-center my-3">
		<a id="participate">
			<div class="d-flex justify-content-center btn-blog">
				<span>
					Participe
				</span>
			</div>
		</a>
	</div>
</section> <!-- end blog -->