<!-- blog post -->
<section class="blog-post mt-5">
  <!-- title blog post -->
  <h2 class="">
    + vcsabia / mundo animal
  </h2> <!-- end title blog post -->
  <!-- posts blog post -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 pb-3 px-md-0 line-blog">
        <a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
          <div class="d-flex flex-column pl-3 py-1">
            <div class="d-flex">
              <span class="date-time-post">
                24-03-2020
              </span>
              <span class="date-time-post px-3">
                22h
              </span>
            </div>
            <h3 class="font-weight-bold my-1">
              Título Exemplo
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 pb-3 px-md-0 line-blog">
        <a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
          <div class="d-flex flex-column pl-3 py-1">
            <div class="d-flex">
              <span class="date-time-post">
                24-03-2020
              </span>
              <span class="date-time-post px-3">
                22h
              </span>
            </div>
            <h3 class="font-weight-bold my-1">
              Título Exemplo
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 pb-3 px-md-0 line-blog">
        <a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
          <div class="d-flex flex-column pl-3 py-1">
            <div class="d-flex">
              <span class="date-time-post">
                24-03-2020
              </span>
              <span class="date-time-post px-3">
                22h
              </span>
            </div>
            <h3 class="font-weight-bold my-1">
              Título Exemplo
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 pb-3 px-md-0 line-blog">
        <a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
          <div class="d-flex flex-column pl-3 py-1">
            <div class="d-flex">
              <span class="date-time-post">
                24-03-2020
              </span>
              <span class="date-time-post px-3">
                22h
              </span>
            </div>
            <h3 class="font-weight-bold my-1">
              Título Exemplo
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 pb-3 px-md-0 line-blog">
        <a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
          <div class="d-flex flex-column pl-3 py-1">
            <div class="d-flex">
              <span class="date-time-post">
                24-03-2020
              </span>
              <span class="date-time-post px-3">
                22h
              </span>
            </div>
            <h3 class="font-weight-bold my-1">
              Título Exemplo
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 pb-3 px-md-0 line-blog">
        <a href="{{ '/post.html' | relative_url }}" class="hover-post d-flex px-2">
          <div class="d-flex flex-column pl-3 py-1">
            <div class="d-flex">
              <span class="date-time-post">
                24-03-2020
              </span>
              <span class="date-time-post px-3">
                22h
              </span>
            </div>
            <h3 class="font-weight-bold my-1">
              Título Exemplo
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div> <!-- end posts blog post -->
</section> <!-- end blog post -->