<section data-aos="fade-up" class="section-wrapper container-forum px-3 mt-1 mx-2 mx-md-5">
  <div class="d-flex justify-content-end order-by-comment py-2">
    <span class="mr-1">Mais relevantes</span>
    <img src="{{ 'assets/images/caret-down-solid.svg'  | relative_url }}" class="mr-2">
  </div>
  <!-- commenting -->
  <div class="bg-user d-flex py-2 mr-2">
    <div class="user-comment-forum d-flex align-items-center px-2 mr-1">
      <img src="{{ 'assets/images/user-solid.svg'  | relative_url }}">
    </div>
    <div class="input-group-forum w-100">
      <textarea class="form-control-forum shadow-none w-100 py-2" placeholder="Escreva um comentário..." rows="1"></textarea>
    </div>
  </div> <!-- end commenting -->
  <!-- comment 1 -->
  <div class="bg-user d-flex py-2 mr-2">
    <div class="d-flex align-items-center">
      <div class="user-comment-forum d-flex align-items-center px-2 py-2 mr-1">
        <img src="{{ 'assets/images/user-solid.svg'  | relative_url }}">
      </div>
    </div>
    <div class="bg-comment-forum px-3 pt-3">
      <h3 class="my-0">
        Nome da Pessoa
      </h3>
      <span>
        Aqui vai o comentário exemplo loren ipsun teste comentário
      </span>
      <div class="d-flex justify-content-end">
        <div class="d-flex like-icon pr-2">
          <div class="d-flex align-items-center bg-like-forum mr-1">
            <img src="{{ 'assets/images/thumbs-up-solid.svg'  | relative_url }}">
          </div>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="like-btn-forum">
    <span>curtir</span>
  </div> <!-- end comment 1 -->
  <!-- comment 2 -->
  <div class="bg-user d-flex py-2 mr-2">
    <div class="d-flex align-items-center">
      <div class="user-comment-forum d-flex align-items-center px-2 py-2 mr-1">
        <img src="{{ 'assets/images/user-solid.svg'  | relative_url }}">
      </div>
    </div>
    <div class="bg-comment-forum px-3 pt-3">
      <h3 class="my-0">
        Nome da Pessoa
      </h3>
      <span>
        Aqui vai o comentário exemplo loren ipsun teste comentário 2 para mostrar o tamanho que ajusta
      </span>
      <div class="d-flex justify-content-end">
        <div class="d-flex like-icon pr-2">
          <div class="d-flex align-items-center bg-like-forum mr-1">
            <img src="{{ 'assets/images/thumbs-up-solid.svg'  | relative_url }}">
          </div>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="like-btn-forum">
    <span>curtir</span>
  </div> <!-- end comment 2 -->
  <!-- comment 3 -->
  <div class="bg-user d-flex py-2 mr-2">
    <div class="d-flex align-items-center">
      <div class="user-comment-forum d-flex align-items-center px-2 py-2 mr-1">
        <img src="{{ 'assets/images/user-solid.svg'  | relative_url }}">
      </div>
    </div>
    <div class="bg-comment-forum px-3 pt-3">
      <h3 class="my-0">
        Nome da Pessoa
      </h3>
      <span>
        Aqui vai o comentário exemplo loren ipsun teste comentário 2 para mostrar o tamanho que ajusta Aqui vai o comentário exemplo loren ipsun teste comentário 2 para mostrar o tamanho que ajusta em caso de mais linhas
      </span>
      <div class="d-flex justify-content-end">
        <div class="d-flex like-icon pr-2">
          <div class="d-flex align-items-center bg-like-forum mr-1">
            <img src="{{ 'assets/images/thumbs-up-solid.svg'  | relative_url }}">
          </div>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="like-btn-forum">
    <span>curtir</span>
  </div> <!-- end comment 3 -->
</section>