<!-- curiosities -->
<section data-aos="fade-up" class="curiosities">
  <div class="section-wrapper mobile-size pb-3 py-md-4">
    <!-- title curiosities -->
    <h1 class="text-center my-0 pb-3 px-2 px-md-0">
      Sabe muito sobre o
      <br>
      Mundo Animal?
    </h1> <!-- end title curiosities -->
    <div class="text-center">
      <p class="mb-0">
        Participe da nossa comunidade e escreva no mural!
      </p>
      <p>
        Os melhores posts serão enviados para os mais de 100.000 membros da nossa comunidade!
      </p>
    </div>
    <!-- btn curiosities -->
    <div class="d-flex justify-content-center">
    <a class="curiosities-icon">
      <div class="d-flex justify-content-center btn-curiosities">
        <span>
          Participar
        </span>
      </div>
    </a>
  </div> <!-- end btn curiosities -->
  </div>
</section> <!-- end curiosities -->