<!-- did you know open post -->
<section class="did-you-know text-start py-2 my-2 px-3">
  <div>
    <h5 class="text-uppercase">+ vcsabia online</h5>
  </div>
  <div class="hover-post px-1 py-2">
    <a>
      <div class="d-flex">
        <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
        <div class="d-flex flex-column justify-content-center">
          <div class="d-flex mb-1">
            <span class="date-time-float-post">24/03/2022 </span>
            <span class="date-time-float-post px-2">-</span>
            <span class="date-time-float-post">21h30</span>
          </div>
          <span class="title-float-post">Título Exemplo de duas em caixa baixa</span>
        </div>
      </div>
      <div>
        <p class="text-float-post mt-2 mb-0">
          texto subtítulo Exemplo de duas linhas em caixa baixa texto subtítulo Exemplo de duas linhas em caixa baixa texto subtítulo...
        </p>
      </div>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="hover-post px-1 py-2">
    <a>
      <div class="d-flex">
        <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
        <div class="d-flex flex-column justify-content-center">
          <div class="d-flex mb-1">
            <span class="date-time-float-post">24/03/2022 </span>
            <span class="date-time-float-post px-2">-</span>
            <span class="date-time-float-post">21h30</span>
          </div>
          <span class="title-float-post">Título Exemplo de duas em caixa baixa</span>
        </div>
      </div>
      <div>
        <p class="text-float-post mt-2 mb-0">
          texto subtítulo Exemplo de duas linhas em caixa baixa texto subtítulo Exemplo de duas linhas em caixa baixa texto subtítulo...
        </p>
      </div>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="hover-post px-1 py-2">
    <a>
      <div class="d-flex">
        <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
        <div class="d-flex flex-column justify-content-center">
          <div class="d-flex mb-1">
            <span class="date-time-float-post">24/03/2022 </span>
            <span class="date-time-float-post px-2">-</span>
            <span class="date-time-float-post">21h30</span>
          </div>
          <span class="title-float-post">Título Exemplo de duas em caixa baixa</span>
        </div>
      </div>
      <div>
        <p class="text-float-post mt-2 mb-0">
          texto subtítulo Exemplo de duas linhas em caixa baixa texto subtítulo Exemplo de duas linhas em caixa baixa texto subtítulo...
        </p>
      </div>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="d-flex justify-content-center my-3">
    <a id="more">
      <div class="d-flex justify-content-center btn-float-post">
        <span>
          Ver mais
        </span>
      </div>
    </a>
  </div>
</section> <!-- end did you know open post -->