<!-- faq -->
<section class="faq">
  <div class="section-wrapper py-4">
    <div class="pb-3 px-3 px-md-0">
      <h3 class="pb-2">
        Perguntas frequentes
      </h3>
    </div>
    <div id="accordion">
      <div class="card">
        <a
          id="headingOne"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What is Lorem Ipsum?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <div class="card-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingTwo"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="true"
          aria-controls="collapseTwo"
        >
          Why do we use it?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordion"
        >
          <div class="card-body">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingThree"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="true"
          aria-controls="collapseThree"
        >
          Where does it come from?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordion"
        >
          <div class="card-body">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingFour"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseFour"
        >
          Where can I get some?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordion"
        >
          <div class="card-body">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingFive"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseFive"
        >
          Where can I get some?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseFive"
          class="collapse"
          aria-labelledby="headingFive"
          data-parent="#accordion"
        >
          <div class="card-body">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingSix"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseSix"
        >
          Where does it come from?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseSix"
          class="collapse"
          aria-labelledby="headingSix"
          data-parent="#accordion"
        >
          <div class="card-body">
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingSeven"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseSeven"
          aria-expanded="true"
          aria-controls="collapseSeven"
        >
          Where does it come from?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseSeven"
          class="collapse"
          aria-labelledby="headingSeven"
          data-parent="#accordion"
        >
          <div class="card-body">
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingEight"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseEight"
          aria-expanded="true"
          aria-controls="collapseEight"
        >
          What is Lorem Ipsum?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseEight"
          class="collapse"
          aria-labelledby="headingEight"
          data-parent="#accordion"
        >
          <div class="card-body">
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingNine"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseNine"
          aria-expanded="true"
          aria-controls="collapseNine"
        >
          What is Lorem Ipsum?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseNine"
          class="collapse"
          aria-labelledby="headingNine"
          data-parent="#accordion"
        >
          <div class="card-body">
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </div>
        </div>
      </div>
      <div class="card">
        <a
          id="headingTen"
          class="card-header d-flex align-items-center justify-content-between collapsed"
          data-toggle="collapse"
          data-target="#collapseTen"
          aria-expanded="true"
          aria-controls="collapseTen"
        >
          What is Lorem Ipsum?
          <img src="{{ 'assets/images/chevron-down.svg'  | relative_url }}" class="flex self-center">
        </a>
        <div
          id="collapseTen"
          class="collapse"
          aria-labelledby="headingTen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- end faq -->