<!-- content forum -->
<div id="habilite-gzip-forum" class="forum-layout">
  <article class="section-wrapper pb-4 pt-4 px-3 px-md-0">
    <!-- forum -->
    <div class="">
      <h1 class="my-0">Mural da Comunidade</h1>
      <!-- forum order by -->
      {%- include form-forum-index.html -%} <!-- end forum order by -->
      <!-- forum order by -->
      {%- include order-by.html -%} <!-- end forum order by -->
      <!-- forum post interaction checked -->
      {%- include post-interaction-checked.html -%} <!-- end post interaction checked -->
      <!-- forum comments -->
      {%- include comments-forum.html -%} <!-- end comments forum -->
      <!-- forum post interaction checked -->
      {%- include post-interaction-not-checked.html -%} <!-- end post interaction checked -->
      <div class="d-flex justify-content-center mt-4">
        <a id="more-forum">
          <div class="d-flex justify-content-center btn-forum-index">
            <span>
              Ver mais
            </span>
          </div>
        </a>
      </div>
    </div> <!-- end forum -->
  </article>
</div> <!-- end content forum -->