<!-- indicate -->
<section data-aos="fade-up" class="indicate">
  <div class="section-wrapper">  
    <div class="d-flex flex-column flex-md-row justify-content-between px-md-2">
      <div class="d-flex flex-column mb-4 mb-md-0">
        <p class="mb-1 px-2">
          Indique seus amigos apaixonados pelo mundo animal
        </p>
        <p class="px-2">
          Indicar Amigos para se juntarem ao nosso grupo!
        </p>
      </div>
      <div class="d-flex justify-content-center align-items-md-center ">
        <a>
          <div id="btn-indicate">
            <div class="d-flex justify-content-center">
              <span>
                Indicar Amigos 
              </span>
              <img src="{{ 'assets/images/share.png'  | relative_url }}">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> <!-- end indicate -->