<!-- others you knew -->
<section class="container section-wrapper others-you-knew pt-4">
  <h2 class="text-left pt-md-0 pt-2 pb-3 px-md-0">
    Outros VCsabia
  </h2>
  <div class="d-flex flex-wrap">
    <div class="flex flex-column flex-others px-2">
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-animal-planet.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-celebrities.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-history.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
    </div>
    <div class="flex flex-column flex-others px-2">
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-human-body.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-personalities.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-planet.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
    </div>
    <div class="flex flex-column flex-others px-2">
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-pop.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-sex.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-soccer.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
    </div>
    <div class="flex flex-column flex-others px-2">
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-sports.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-universe.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
      <a class="d-flex flex-column hover-others px-md-2 py-md-2">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ 'assets/images/vcsabia-worldcup.png'  | relative_url }}">
            <div class="d-flex flex-column justify-content-center pl-3">
              <span>
                24/03/2022 - 21:30H
              </span>
              <h3 class="my-0">
                Escondidinho de carne seca titulo exemplo quebra
              </h3>
            </div>
          </div>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting.
          </p>
        </div>
      </a>
      <div>
        <hr class="my-2">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center my-4">
    <a>
      <div class="d-flex justify-content-center btn-others">
        <span>
          Ver mais
        </span>
      </div>
    </a>
  </div>
</section>