<!-- post interaction checked -->
<section data-aos="fade-up" class="mw-100 container-forum px-3 py-3 mt-2">
  <div>
    <h2>
      Título exemplo chamada
    </h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>
  <div class="d-flex user-perfil">
    <div class="bg-user d-flex align-items-center justify-content-center px-3 py-2 mr-2">
      <img src="{{ 'assets/images/user-solid.svg'  | relative_url }}">
    </div>
    <div>
      <div>
        <span class="font-weight-light text-muted">
          Nome Da pessoa - Idade - Gênero
        </span>
      </div>
      <div>
        <span class="font-weight-light text-muted">Cidade/estado -</span>
        <span class="font-weight-light text-muted">Data em dd/mm/aa -</span>
        <span class="font-weight-light text-muted"><span>x</span> horas atrás</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="mt-2 d-flex align-items-center">
      <div class="d-flex social-icon-btn mr-2 px-2 py-1">
        <img src="{{ 'assets/images/heart-solid.svg'  | relative_url }}" class="mr-2">
        <span>1</span>
      </div>
      <div class="d-flex social-icon-btn mx-2 px-2 py-1">
        <img src="{{ 'assets/images/comments-solid.svg'  | relative_url }}" class="mr-2">
        <span>1</span>
      </div>
      <div class="d-flex social-icon-btn ml-2 px-2 py-1">
        <img src="{{ 'assets/images/share-solid.svg'  | relative_url }}" class="mr-2">
        <span>1</span>
      </div>
    </div>
    <div class="d-flex flex-column social-icon-checking">
      <div class="d-flex justify-content-center">
        <img src="{{ 'assets/images/circle-check-solid.svg'  | relative_url }}">
      </div>
      <span>Verificado</span>
    </div>
  </div>
</section> <!-- end post interaction checked -->