<section class="post-you-knew py-4 px-3">
  <div class="section-wrapper">
    <div class="d-flex justify-content-between header-post-you-knew">
      <h1 class="text-left pt-md-0 pt-2 pb-3 px-md-0">
        + Posts
      </h1>
      <div>
        <a href="#">
          >> ver mais
        </a>
      </div>
    </div>
    <div class="row">
      <a class="d-flex flex-column col-12 col-md-3 py-2">
        <span>24-03-2022</span>
        <img src="{{ 'assets/images/banner-index.jpg' | relative_url }}">
        <h2 class="mb-0">
          Título do post exemplo
        </h2>
        <p class="mb-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.
        </p>
      </a>
      <a class="d-flex flex-column col-12 col-md-3 py-2">
        <span>24-03-2022</span>
        <img src="{{ 'assets/images/banner-index.jpg' | relative_url }}">
        <h2 class="mb-0">
          Título do post exemplo
        </h2>
        <p class="mb-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.
        </p>
      </a>
      <a class="d-flex flex-column col-12 col-md-3 py-2">
        <span>24-03-2022</span>
        <img src="{{ 'assets/images/banner-index.jpg' | relative_url }}">
        <h2 class="mb-0">
          Título do post exemplo
        </h2>
        <p class="mb-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.
        </p>
      </a>
      <a class="d-flex flex-column col-12 col-md-3 py-2">
        <span>24-03-2022</span>
        <img src="{{ 'assets/images/banner-index.jpg' | relative_url }}">
        <h2 class="mb-0">
          Título do post exemplo
        </h2>
        <p class="mb-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.
        </p>
      </a>
    </div>
  </div>
</section>