<section data-aos="fade-up" class="second">
  <!-- social link -->
  <a class="phone-icon">
    <!-- text of the second card -->
    <div class="text-second css-typing-second section-wrapper row w-100 h-100">
      <p class="mb-0">
        Entre nos nossos grupos de
      </p>
      <p class="mb-0">
        "loucos por bichos" e receba
      </p>
      <p class="mb-0">
        o melhor conteúdo sobre o      
      </p>
      <p class="mb-0">
        mundo animal
      </p>
    </div> <!-- end text of the second card -->
  </a>
</section>