<!-- share -->
<section class="share">
  <!-- text share -->
  <h1>Compartilhe</h1> <!-- text share -->
  <!-- icons -->
  <div class="d-flex flex-column align-items-center">
    <a class="py-1">
      <img src="{{ 'assets/images/whats-share.png'  | relative_url }}">
    </a>
    <a class="py-1">
      <img src="{{ 'assets/images/telegram-share.png'  | relative_url }}">
    </a>
    <a class="py-1">
      <img src="{{ 'assets/images/facebook-share.png'  | relative_url }}">
    </a>
    <a class="py-1">
      <img src="{{ 'assets/images/twitter-share.png'  | relative_url }}">
    </a>
    <a class="py-1">
      <img src="{{ 'assets/images/linkedin-share.png'  | relative_url }}">
    </a>
  </div> <!-- end icons -->
</section> <!-- end share -->