<section data-aos="fade-up" class="third h-100">
  <!-- content of the third session -->
  <div class="d-flex">
    <div class="w-100 h-100 css-typing-third text-wrapper">
      <!-- first content -->
      <div class="mb-2 mt-md-3 mb-md-2">
        <p class="line-height-text mb-0 px-2">
          Você escolhe onde quer
        </p>
        <p class="line-height-text mb-0 px-2">
          receber nossos posts
        </p>
      </div> <!-- end first content -->
      <!-- icons third -->
      <div class="d-flex justify-content-end pt-2">
        <div>
          <div class="d-flex">
            <a class="whatsapp-icon">
              <img src="{{ 'assets/images/whats.png'  | relative_url }}" class="icon-index whats-icon hover-icon mx-1">
            </a>  
            <a class="telegram-icon">
              <img src="{{ 'assets/images/telegram.png'  | relative_url }}" class="icon-index hover-icon mx-1">
            </a>
            <a class="email-icon">
              <img src="{{ 'assets/images/mail.png'  | relative_url }}" class="icon-index hover-icon mx-1">
            </a>
            <a class="notification-icon">
              <img src="{{ 'assets/images/notification.png'  | relative_url }}" class="icon-index hover-icon mx-1">
            </a>
          </div>
        </div>
      </div> <!-- icons third -->
    </div>
    <div> <!-- phone modal content -->
      <a class="phone-icon">
        <img src="{{ 'assets/images/phone.png'  | relative_url }}" class="h-100">
      </a>
    </div> <!-- end phone modal content -->
  </div> <!-- end content of the third session -->
</section>