// blog post
.blog-post {
  h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;

    &::after {
      content: '';
      width: 100px;
      height: 2px;
      background: black;
      display: block;
      margin: 7px 0;
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;

  }

  p {
    font-size: 13px;
    font-weight: lighter;

  }

  .date-time-post {
    font-size: 12px;
    font-weight: 100;
  }

  a {
    text-decoration: none;
  }

  .hover-post {
    cursor: pointer;
    text-decoration: none;

    @media (min-width: 579px) {
      &:hover {
        background-color: #0C3900;
        border-radius: 4px;

        & > div h3 {
          color: #FFF;
        }

        & > div p {
          color: #FFF;
        }

        & > div span {
          color: #FFF;
        }
      }
    }
  }
}
