// footer forum
.footer-forum {
  .btn-footer {
    input {
      background: #F2902C;
      cursor: pointer;
      padding: 8px 10px;
      border-radius: 4px;

      &:hover {
        color: white;
      }

      span {
        font-size: 14px;
        font-weight: 600;
      }    
    }
  }

  .input-footer {
    max-width: 378px;

    input {
      width: 110px;

      @media (min-width: 576px) {
        width: 135px;
      }
    }
  }

  .footer-3 {
    img {
      height: 40px;
    }
  }

  .checkbox-footer {
    input {
      margin-top: 6px;
      margin-left: 5px;
    }
  }

  p {
    font-weight: normal;
  }

  a {
    color: #FFF;
    text-decoration: underline;

    &:hover {
      color: yellow;
    }
  }
}
