// post layout
.post-layout {
  h1 {
    color: #2D3976;
  }

  .bg-banner {
    background-image: url("images/banner-index.jpg");
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .container-blog {
    width: 85%;
    max-width: 1088px;
  }

  .border-blog {
    border-radius: 4px;
  }
}
