---
layout: base
---

<!-- header -->
{%- include header.html -%} <!-- end header -->
<!-- post layout -->
<div class="post-layout">
  <div class="d-flex flex-column align-items-center bg-banner bg-no-repeat">
    <!-- banner post -->
    <div class="d-flex justify-content-center mx-auto pt-4">
      <div class="d-flex mx-5 mx-md-0">
        <a href="#">
          <img src="{{ 'assets/images/banner-get.jpg' | relative_url }}" class="banner-recipe mw-100">
        </a>
      </div>
    </div> <!-- end banner post -->
    <!-- container blog -->
    <div class="container-blog px-2 px-md-5 py-3">
      <div class="d-flex flex-wrap justify-content-center justify-content-md-between flex-md-nowrap bg-white px-4 py-3 border-blog">
        <article class="mw-100">
          <!-- breadcrumb -->
          <nav class="mb-3">
            <a href="{{site.url}}" class="text-dark">Mundo Animal</a>
            <span class="mx-1">/</span> 
            <span>data</span>
            <span class="mx-1">/</span>
            <span id="breadcrumb">Título</span>
          </nav> <!-- end breadcrumb -->
          <!-- title -->
          <div>
            <h1 id="recipe-title" class="text-uppercase">
              Título exemplo caixa alta
            </h1> <!-- end title -->
            <!-- border title -->
            <hr class="w-50 mt-2 mb-0"> <!-- end border title -->
          </div>
          <!-- content -->
          {{ content }} <!-- end content -->
        </article>
      </div>
    </div> <!-- end container blog -->
    <!-- banner post -->
    <div class="d-flex justify-content-center mx-auto pb-3">
      <div class="d-flex mx-5 mx-md-0">
        <a href="#">
          <img src="{{ 'assets/images/banner-get.jpg' | relative_url }}" class="banner-recipe mw-100">
        </a>
      </div>
    </div> <!-- end banner post -->
  </div>
</div> <!-- end post layout -->
{%- include post-you-knew.html -%}
{%- include curiosities.html -%}
{%- include forum-index.html -%}
{%- include join-the-community.html -%}
{%- include others-you-knew.html -%}
{%- include be-moderator.html -%}
{%- include how-it-works.html -%}
{%- include faq.html -%}
{%- include indicate.html -%}
{%- include blog-you-knew.html -%}
{%- include you-know.html -%}
{%- include footer.html -%}
{%- include footer-2.html -%}
{%- include footer-3.html -%}
{%- include modal.md -%}

